* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.section-heading {
    position: relative;
    color: #000958;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.19;
}
.section-heading::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #e0e0e0;
    bottom: -20px;
    left: 0;
    border-radius: 99px;
    height: 3px;
    z-index: -1;
}
.section-desc {
    color: #656689;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.87;
}
/* Header */
.header {
    margin-top: 42px;
    position: sticky;
    z-index: 99;
    background: #fffaf5;
    top: 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
    gap: 18px;
}
.navbar__item {
    position: relative;
    padding: 10px 0;
}

.navbar__item-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #5e6085;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    padding: 16px 0;
}
.navbar-active::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 8px;
    height: 3px;
    background-color: #5e6085;
    text-shadow: 0 0 1px #000958;
}
.header__list-more {
    position: absolute;
    width: 280px;
    top: 80%;
    display: none;
    transition: 0.5s;
    animation: opacity 1s;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: opacity linear 1s;
}

.navbar__item:hover .header__list-more {
    display: block;
}
.header__list-more a:hover {
    background: #fffaf5;
    color: #000958;
}
.header__list-more a {
    display: block;
    color: #5e6085;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    padding: 18px 28px;
}
.header__search {
    display: flex;
    align-items: center;
    height: 47px;
    border-radius: 99px;
    padding: 0 16px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #fff;
    gap: 8px;
}
.header__search-input {
    border: none;
    outline: none;
}
.header__icon-search {
    width: 20px;
}
/* Blog */
.blog {
    margin-top: 30px;
}
.blog__heading,
.blog__desc {
    text-align: center;
}
.blog__heading.section-heading::after {
    margin: 0 15px;
    bottom: 50%;
}
.blog__heading span {
    background: #fffaf5;
    padding: 0 15px;
}
.blog__desc {
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.blog__slider {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.blog__slide {
    position: relative;
    left: 0;
    width: 800%;
    display: flex;
    animation: 40s slide infinite;
}
.blog__slide-inner {
    position: relative;
    width: 12.5%;
}
.blog-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
}
.blog__slider-heading {
    color: #fcf9f9;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.19;
    text-align: center;
    text-shadow: 2px 2px 2px #212832;
    margin-bottom: 12px;
}
.blog__slider-time {
    color: #e0dddd;
    font-size: 1.4rem;
    line-height: 1.19;
    text-align: center;
    text-shadow: 2px 2px 2px #212832;
}
.blog__slider-img {
    width: 100%;
    object-fit: cover;
}
/* Trend */
.trend {
    margin-top: 40px;
}

.trend__slider {
    margin-top: 60px;
    width: 100%;
    height: 346px;
    overflow: hidden;
}
.trend__slider figure {
    position: relative;
    left: 0;
    width: 200%;
    height: 100%;
}
.trend__slide {
    position: relative;
    float: left;
    width: 12.5%;
    height: 100%;

    animation: 15s slider infinite;
}
.trend__heading {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    width: 192px;
    transform: translateX(-50%);
    color: #0b0a0a;
    font-size: 2.4rem;
    line-height: 1.4;
    text-shadow: 1px 1px 2px #050c16;
    z-index: 1;
}
.trend__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 15px;
    opacity: 0.7;
}
/* Forex */
.forex {
    margin-top: 40px;
    margin-bottom: 40px;
}
.forex__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.forex__item {
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
}
.forex-item__img-wrap {
    height: 247px;
    overflow: hidden;
}
.forex-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.forex-item__bottom {
    height: 119px;
    background-color: #fff;
}
.forex__item-desc {
    position: absolute;
    background-color: #fff;
    color: #555;
    margin: 0 20px;
    padding: 15px 25px 20px;
    text-align: center;
    font-size: 1.8rem;
    bottom: 60px;
    font-weight: 700;
    line-height: 1.6;
}
.forex__item-desc::after {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 99px;
    width: 30px;
    background-color: #e5e5e5;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}
.section-time {
    position: absolute;
    top: 20px;
    left: 0;
    width: 44px;
    height: 44px;
    background: #446084;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-month {
    font-size: 1.3rem;
}
.forex__time {
    border-radius: 50%;
    left: 16px;
}
.forex__item:hover .forex-item__img {
    transform: scale(1.2);
}

/* Newbie */
.newbie {
}
.newbie__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.newbie__item {
    position: relative;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
}
.newbie__item-img {
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.newbie__item-heading {
    position: relative;
}
.newbie__item-heading a {
    display: block;
    color: #555;
    font-weight: 600;
    font-size: 1.84rem;
    line-height: 1.6;
    text-align: center;
    padding: 12px 12px 40px;
}
.newbie__item-heading::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    bottom: 20%;
    right: 50%;
    transform: translateX(50%);
    background: #e5e5e5;
    border-radius: 99px;
}
.newbie__item-time {
}

/* Money */
.money {
    margin-top: 40px;
}
.money__list {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}
.money__item {
    height: 100%;
    left: 0;
}
.money__item-img-wrap {
    width: 100%;
    height: 250px;
}
.money__item-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.money__item-heading {
    position: relative;
}
.money__item-heading a {
    margin-top: 12px;
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 12px;
}
.money__item-heading::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    bottom: -15%;
    right: 50%;
    transform: translateX(50%);
    background: #e5e5e5;
    border-radius: 99px;
}
.money__item-desc {
    text-align: center;
    padding: 12px 12px 0;
    line-height: 1.7;
    color: #757272;
}

/* Good */
.good {
    margin-top: 30px;
}
.good__inner {
    padding: 60px 0;
    background-color: #f4f4f4;
}
.good .section-heading::after {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.good__heading {
    display: flex;
    padding: 0 12px;
    justify-content: center;
}
.good__heading span {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0 12px;
    background-color: #f4f4f4;
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        left: 0;
    }
    5% {
        left: 0;
    }
    10% {
        left: -100%;
    }
    15% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    25% {
        left: -200%;
    }
    30% {
        left: -300%;
    }
    35% {
        left: -300%;
    }
    40% {
        left: -400%;
    }
    43% {
        left: -400%;
    }
    48% {
        left: -500%;
    }
    50% {
        left: -500%;
    }
    55% {
        left: -600%;
    }
    60% {
        left: -600%;
    }
    63% {
        left: -700%;
    }
    68% {
        left: -700%;
    }
    72% {
        left: -600%;
    }
    75% {
        left: -500%;
    }
    80% {
        left: -400%;
    }
    84% {
        left: -400%;
    }
    88% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
    93% {
        left: -200%;
    }
    95% {
        left: -100%;
    }
    98% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes slider {
    0% {
        left: 0;
    }
    5% {
        left: -12.5%;
    }
    15% {
        left: -25%;
    }
    35% {
        left: -25%;
    }
    45% {
        left: -37.5%;
    }
    55% {
        left: -50%;
    }
    65% {
        left: -50%;
    }
    75% {
        left: -50%;
    }
    86% {
        left: -37.5%;
    }
    90% {
        left: -25%;
    }
    100% {
        left: -12.5%;
    }
}
